/* JOB STYLES */

.progress {
  height: 50px;
  margin-bottom: 0px;
  overflow: hidden;
  /* background-color: #f5f5f5; */
  border-radius: 0px;
  -webkit-box-shadow: 0;
  box-shadow: none;
  background: lightgray;
}

.progress-bar-danger, .progress-bar-warning, .progress-bar-success {
  padding: 15px;
}

#jobs a{
  color: #333333;
}

.job{
  background: whitesmoke;
  text-align:center;
  margin-bottom: 20px;
  transition: .5s;
}

.job:hover{
  opacity: .7;
}

.job-text{
  padding: 20px;
}

/* NAV BAR STYLES */

.brand-logo{
  width: 100%;
  max-width: 40px;
  position: absolute;
  top: 6px;
}

.brand-title{
  position: relative;
  left: 55px;
  font-size: 28px;
  top: 5px;
}

.navbar-default {
  background-color: #316191;
  border-color: #316191;
  border-radius: 0;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  transition: .5s;
  font-size: 17px;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  opacity: .7;
}

/* TEXT STYLES */

body{
  font-family: "europa",sans-serif;
  color: #333333;
}
